/* add a class selector and font*/
*.p1 {
  font-family: "Potta One", cursive;
}
section {
  color: navy;
}
aside {
  color: #4B0082;
}

h2 {
  color: #000080; 
}

/*This is an element selector
that will make all paragraphs navy*/
p {
  color: navy;
  font-family = "Times New Roman", Times, serif;
}
